@charset "UTF-8";
body {
    background-image: url(../images/edited.jpg);
    background-position: center;
    background-attachment: fixed;   
}
a:link, a:visited { color: #fede63;  }
a:focus, a:hover, a:active { color: rgb(211, 160, 116);  }
header {
    color: #fede63;
    text-align: center;
    margin-top: 0%;
    text-decoration: none;
   
}
.present {
    background-color: #4b4e5e;
    border-radius: 20%;
}
.top {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffff;
}
.top h6 {
    margin-top: -1%;
    color: #ffff;
}
a {
    text-decoration: none;
    margin: 2% 10% 0% 0%;
    font-family: cursive;
    color: #fede63;
}
.me {
    margin: 0% 5% 0% 10%;
    font-family: cursive;
    float: left;
    height: 300px;
    width: 300px;
    line-height: 200%;
    color: #ffff;
}
.dream {
    height: 300px;
    width: 500px;
    border-radius: 10% 10% 10% 10%;
}
.qualities {
    float: left;
    width: 500px;
    height: 300px;
    font-family: cursive;
    color: #fede63;   
}
.me h2 {
    margin-left: 3%
}
nav {
    margin: 0% 0% 0% 10%;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
}
.view {
    background-color: #9e3632;
    border-radius: 20% 20% 20% 20%;
    margin-left: 5%;
}
.contact {
    background-color: #9e3632;
    border-radius: 20% 20% 20% 20%;
}
.end {
    position: relative;
}